$primary: #0575E6;
$accent-primary : #0266c9;
$light:#F2F2F2;
$danger: #d9534f;
$warning: #f0ad4e; 
$success: #5cb85c;

$radius: 30px;

* {
    font-family: "Poppins", system-ui;
    padding: 0;
    margin: 0;
}

// Style for Components
// Buttons
.btn{
    background: $primary;
    border-radius: $radius;
    color: white;
    text-align: center;
    border: 0px;
    cursor: pointer;
    text-decoration: none;
    padding: 8px 30px;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    
    &:hover{
        background: $accent-primary;
    }
}

// Button Status
.btn-status{
    color: white;
    padding: 2px 15px;
    font-size: 12px;
    border-radius: $radius;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
    
    &.danger{
        background-color: $danger;
    }

    &.warning{
        background-color: $warning;
    }

    &.success{
        background-color: $success;
    }
}

// link
.link{
    text-decoration: none;
    color: $primary;

    &:hover{
        color: $accent-primary;
    }
}

// Input Icons
.input-icons{
    width: 100%;
    position: relative;

    .icon{
        position: a;
        padding: 10px 20px;
        color: lightgray;
    }

    input{
        width: 100%;
        box-sizing: border-box;
        background: transparent;
        position: absolute;
        padding: 10px 46px;
        border: 1px solid #EEEEEE;
        border-radius: $radius;
        -webkit-border-radius: $radius;
        -moz-border-radius: $radius;
        -ms-border-radius: $radius;
        -o-border-radius: $radius;

        &:active, 
        &:focus{
            outline: 1px solid $primary;
            background: transparent!important;
        }

        &:active + .icon,
        &:focus + .icon{
            color: $primary;
        }

        &.invalid{
            outline: 1px solid $danger;
        }

        &.invalid + .icon{
            color: $danger;
        }
    }
}

// Input Field
.input-field{
    input, 
    select{
        width: 100%;
        box-sizing: border-box;
        background: transparent;
        padding: 10px 20px;
        border: 1px solid #EEEEEE;
        border-radius: $radius;
        -webkit-border-radius: $radius;
        -moz-border-radius: $radius;
        -ms-border-radius: $radius;
        -o-border-radius: $radius;

        &:active, 
        &:focus{
            outline: 1px solid $primary;
            background: transparent!important;
        }

        &.invalid{
            outline: 1px solid $danger;
        }
    }
}

.validation-message{
    padding-left: 20px;
    padding-top: 5px;
    font-size: 14px;
    color: $danger;

    &.show{
        display: flex;
    }

    &.hide{
        display: none;
    }
}

// Form wapper
.form-wrap{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

// Not Found
.not-found{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: hidden;
    background: linear-gradient(180deg, $primary 0%, #02298A 84.79%, #021B79 100%);
    color: white;

    .content{
        text-align: center;

        .error{
            font-size: 48px;
            letter-spacing: 8px;
            font-weight: 700;
        }

        .message{
            margin-top: 20px;
        }
    }
}


// Auth Style
.auth-layout{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    overflow: hidden;

    .left{
        color: white;
        width: 60%;
        background: linear-gradient(180deg, $primary 0%, #02298A 84.79%, #021B79 100%);
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        .content{
            width: 600px;

            .title{
                font-weight: 700;
                font-size: 40px;
                line-height: 60px;
            }

            .subtitle{
                font-weight: 200;
                font-size: 18px;
                line-height: 27px;
                margin-bottom: 20px;
            }
        }

        .eclipse{
            position: absolute;
            width: 638px;
            height: 583px;
            border: 1px solid $primary;
            border-radius: 100%;
            -webkit-border-radius: 100%;
            -moz-border-radius: 100%;
            -ms-border-radius: 100%;
            -o-border-radius: 100%;

            &.e-1{
                left: -207px;
                bottom: -230px;
            }

            &.e-2{
                left: -126px;
                bottom: -270px;
            }
        }
    }

    .right{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 40%;

        .content{
            width: 310px;

            .title{
                font-size: 26px;
                font-weight: 700;
                line-height: 39px;
            }

            .form-auth{
                width: 100%;
                padding-top: 20px;
                padding-bottom: 20px;
                position: relative;
                display: flex;
                flex-direction: column;
                gap: 14px;
            }

            .alert{
                margin-top: 10px;
                margin-top: 10px;
            }
        }
    }
}

// User layout style
.user-layout{
    width: 100%;
    min-height: 100vh;
    background: $light;

    .container{
        padding-left: 240px;
        padding-right: 240px;
    }

    .navbar{
        width: 100%;
        height: 68px;
        background: $primary;
        display: flex;
        align-items: center;
        justify-content: end;
        color: white;
        margin-bottom: 40px;

        .nav-content{
            display: flex;
            gap: 12px;
            align-items: center;
            cursor: pointer;

            .icon{
                margin-top: 9px;
                font-size: 36px;
            }

            .username{
                letter-spacing: 1.25px;
                font-weight: 600;
            }

            .title{
                font-size: 12px;
            }
        }
    }

    .header{
        font-size: 28px;
        font-weight: 500;
        letter-spacing: 1.5px;
        color: $primary;
        margin-bottom: 20px;
    }

    .content{
        margin-top: 30px;
        border: 1px solid #00000012;
        background-color: white;
    }

    .profile{
        padding: 20px;
        display: flex;
        justify-content: center;
        align-content: center;
        min-height: 300px;
        gap: 40px;

        .image-wrap{
            width: 10%;
            display: flex;
            justify-content: center;
            align-content: center;

            .image{
                font-size: 60px;
                color: $primary;
            }
        }

        .bio{
            width: 90%;
            display: flex;
            flex-direction: column;
            gap: 30px;

            .label{
                font-size: 14px;
                color: $primary;
            }
        }
    }
}

@media only screen and (min-width:1500px){

}


// Make Ui Responsive
@media only screen and (max-width:992px){
    // Auth layout
    .auth-layout{
        display: flex;
        flex-direction: column;

        .left{
            width: 100%;
            height: 30%;

            .content{
                width: 310px;
            }

            .eclipse{
                display: none;
            }
        }

        .right{
            width: 100%;
            height: 70%;
        }
    }

    .user-layout{
        .container{
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}

